<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo** | Análise de Dados: Visualização Interativa de Dados
Caderno de **Exercícios**<br> 
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **Tópicos**

<ol type="1">
  <li>Google Data Studio;</li>
  <li>Dados;</li>
  <li>Relatório.</li>
</ol>

---

# **Exercícios**

## 1\. Contexto

Você é o analista de dados de um grande aeroporto. O time de operações precisa acompanhar o fluxo mensal de passageiros para tomar decisões sobre manutenção, obras, etc. Você propõe a construção de um *dashboard* de dados para auxiliar o time na tomada de decisão.

## 2\. Preparação

Carregue as bibliotecas Python de manipulação de dados.

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

### **2.1. Extração**

Carregue os dados de **voos** (*flights*) e responda as perguntas abaixo:

In [2]:
flights = sns.load_dataset('flights')

In [3]:
flights.head()

   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132
3  1949   Apr         129
4  1949   May         121

In [4]:
flights.tail()

     year month  passengers
139  1960   Aug         606
140  1960   Sep         508
141  1960   Oct         461
142  1960   Nov         390
143  1960   Dec         432

In [5]:
flights['year'].max() - flights['year'].min()

11

Responda:

 - Qual é a granularidade temporal da base de dados:**mensal (e atualizado anualmente)**
 - Qual é o intervalo de tempo (min/max): **1949-1960 (11 anos)**

### **2.2. Transformação**

Tranforme o texto da coluna `month` para sua representação numérica, exemplo: `Jan` para `1` e `Dec` para `12`.

In [6]:
flights['month'].drop_duplicates()

0     Jan
1     Feb
2     Mar
3     Apr
4     May
5     Jun
6     Jul
7     Aug
8     Sep
9     Oct
10    Nov
11    Dec
Name: month, dtype: category
Categories (12, object): ['Jan', 'Feb', 'Mar', 'Apr', ..., 'Sep', 'Oct', 'Nov', 'Dec']

In [8]:
# resolução
flights['month'] = flights['month'].apply(
    lambda month:
      month.replace('Jan', '01').replace('Feb', '02').replace('Mar', '03')
      .replace('Apr', '04').replace('May', '05').replace('Jun', '06')
      .replace('Jul', '07').replace('Aug', '08').replace('Sep', '09')
      .replace('Oct', '10').replace('Nov', '11').replace('Dec', '12')
)

Crie uma chave temporal `year-month` no formato `YYYY-MM` através da concatenação das colunas `year` e `month`, exemplo: `1949-01`.

In [9]:
flights['year'] = flights['year'].astype('string')
flights['month'] = flights['month'].astype('string')

In [10]:
flights.dtypes

year          string
month         string
passengers     int64
dtype: object

In [11]:
# resolução
flights['year-month'] = flights['year'] +'-' + flights['month']
flights[['year-month']].head(2)

  year-month
0    1949-01
1    1949-02

Reordene as colunas da seguinte forma: `year-month`, `year`, `month` e `passengers`.

In [12]:
# resolução
flights = flights[['year-month', 'year', 'month', 'passengers']]
flights.head()

  year-month  year month  passengers
0    1949-01  1949    01         112
1    1949-02  1949    02         118
2    1949-03  1949    03         132
3    1949-04  1949    04         129
4    1949-05  1949    05         121

### **2.3. Carregamento**

Persista o DataFrame em um arquivo com o nome `flights.csv`, no formato CSV. Garanta que o índice será descartado.

In [14]:
# resolução
flights.to_csv('flights.csv', index=False)

## 3\. Dashboard

Conduza os items **3.1** e **3.2** no [Google Data Studio](https://datastudio.google.com/).

### **3.1. Fonte de dados**

Crie a fonte de dados `flights-data` através do *upload* do arquivo `flights.csv`.

### **3.2. Relatório**

Crie o relatório `flights-report` utilizando a fonte de dados `flights-data`. Edite o relatório conforme sua criatividade (texto, cores, etc.). Compartilhe o relatório e copie o link abaixo:

 - KPI

Crie um filtro a nível de página com a dimensão `year`. Adicione um `scorecard` com uma `métrica` que represente a `soma dos passageiros em um determinado ano`. Note que o valor do `scorecard` deve ser dinâmico, ou seja, deve se alterar com o filtro temporal `year`.

 - EDA

Adicione um gráfico de série temporal (*time series chart*) utilizando com dimensão a coluna `year-month` e como métrica a soma da dimensão `passengers`. Note que o valor do gráfico deve ser dinâmico, ou seja, deve se alterar com o filtro temporal `year`.

 - Link

 > Link do relatório: **https://lookerstudio.google.com/reporting/258fd35f-5bb0-405c-b1f8-479294194c4a**

---