<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo** | Computação em Nuvem I
Caderno de **Exercícios**<br> 
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **Tópicos**

<ol type="1">
  <li>Amazon Web Services;</li>
  <li>AWS IAM;</li>
  <li>AWS S3;</li>
  <li>AWS Athena.</li>
</ol>

---

# **Exercícios**

## 1\. Amazon Web Services

 1. Crie uma conta na [AWS](https://portal.aws.amazon.com/);
 1. Acesse a sua conta e selecione a região mais próxima da sua residência.

## 2\. AWS S3

Replique as atividades do item 3.3 em sua conta.

> **Carregando bibliotecas:**

In [2]:
import pandas as pd
import seaborn as sns

> **Coletando os dados:**

In [4]:
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
iris.to_csv('iris.csv', index=False, header=False)

## 3\. AWS Athena

Replique as atividades do item 4.3 em sua conta.

> **Criando a tabela na AWS:**

In [ ]:
CREATE EXTERNAL TABLE iris (
sepal_length double,
sepal_width double,
petal_length double,
petal_width double,
specie string
)
ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde'
WITH SERDEPROPERTIES ('separatorChar'=',')
LOCATION 's3://ebac-modulo-38/'

> **Consultas SQL:**

**Query1**:

In [ ]:
#Número de linhas:
SELECT COUNT (*) FROM iris

**Query2:**

In [ ]:
#Checando as primeiras linhas do dataset:
SELECT * FROM iris
LIMIT 5;

**Query3:**

In [ ]:
#Verificando as médias das colunas
SELECT
specie,
round(avg(sepal_length), 4) as avg_sepal_length,
round(avg(sepal_width), 4) as avg_sepal_width,
round(avg(petal_length), 4) as avg_petal_length,
round(avg(petal_width), 4) as avg_petal_width
FROM iris
GROUP BY specie;